:root{
    --Left-Image-section: 5px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.contenue{
    flex: 1 0 auto;
}

.profil{
    background: linear-gradient(#2964D9, #11D9C5);
    height: 1000px;
    width: 100%;
    overflow-y: hidden;
    z-index: 1;
    position: relative;
    top: 0px;
}

.profil h1{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    line-height: 60px;
}


.profil_github{
    position: relative;
    left: 400px;
    top: 300px;
    width: 500px;
    height: 100%;
}

.profil_github p{
    font-weight: normal;
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: -0.3px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    max-width: 515px;
    opacity: 0.8;
    position: relative;
}

.profil_github button{
    background-color: #11D9C5;
    border: none;
    padding: 20px;
    font-size: 16px;
    padding: 21px 29px;
    border-radius: 30px;
    position: relative;
    color: #fff;
    top: 20px;
    transition: all 0.35s ease;
    cursor: pointer;
}

.profil_github button:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profil_github a{
    text-decoration: none;
    color: #fff;
}

/* Header */
header{
    background-color: #224283;
    border-right: 1px solid black;
    display: flex;
    position: fixed;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
}


header ul{
    height: 100%;
    
}

header ul li{
    font-size: 15px;
    color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
    position: relative;
    left: -15px;
    width: 100px;
    top: 200px;
    height: 100px;
}

header ul li i{
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: absolute;
    padding: 10px;
    border-radius: 40px;
    transition: all 0.35s ease;
}

header ul li i:hover{
    border: 1px solid #333;
}


/* Fin du header */

.projets{
    position: relative;
    z-index: 4;
    text-align: center;
    display: inline;
    color: #333;
    left: 500px;
    top: 10px;
}

.projets h3{
    text-align: left;
    position: relative;
    left: 25%;
}

.section_projets{
    display: inline-block;
}

section{
    padding: 10px;
    border: 1px solid #0a54e7;
    width: 500px;
    height: 600px;
    position: relative;
    top: 20px;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.35s ease;
    left: var(--Left-Image-section);
}

section:hover{
    background-color: #4a505e;
}

.section_projets img{
    width: 300px;
}

.siv{
    position: relative;
    left: -20px;
}

.pdf2html{
    position: relative;
    left: 40px;
}



/* footer */
footer{
    flex-shrink: 0;
    border-top: 1px solid #11D9C5;
    background: linear-gradient(#11D9C5, #2964D9);
    color: #fff;
    position: relative;
    top: 50px;
}


footer .contenue_footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

footer div{
    padding: 30px;
    position: relative;
    top: 0;
    left: 50px;
}


footer img{
    position: absolute;
    width: 300px;
    text-align: left;
    left: -180px;
    top: 0;
}


footer ul{
    list-style: none;
}

footer ul li{
    padding: 10px;
}

footer .reseaux ul li{
    display: inline-block;
    padding: 10px;
}

footer .reseaux ul li i{
    color: #fff;
    transition: all 0.35s ease;
    font-size: 30px;
}

footer .reseaux ul li i:hover{
    color: #000;
}

footer .contact p{
    position: relative;
    top: 15px;
}

footer .contact textarea{
    position: relative;
    top: 30px;
}

footer .don i:hover{
    transition: all 0.35s ease;
    cursor: pointer;
    color: #000;
}

footer .don i{
    font-size: 30px;
    position: relative;
    top: 6px;
}

footer .don a{
    text-decoration: none;
    position: relative;
    left: 20px;
    color: #fff;
}

/* Deuxiéme header */
nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 80px;
    transition: all 0.35s ease;
}

nav.nav_sticky{
    transition: all 0.35s ease;
    height: 50px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav.nav_sticky ul li a{
    color: #000;
    position: relative;
    top: 17px;
}

nav.nav_sticky ul li a:hover{
    color: #0a54e7;
}

nav ul{
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    text-align: center;

}

nav ul li{
    display: inline;
    padding: 10px;
    width: 100%;
    position: relative;
}

nav ul li a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    position: relative;
    top: 30px;
    transition: all 0.35s ease;

}

nav img{
    width: 50px;
    position: fixed;
}
